nav>ul>li {
    display: inline-block;
    margin-right: 15px;
}
nav li>a{
    text-decoration: none;
    
}
footer{
    text-align: center;
}
/* form style */
label {
    display: block;
    margin-bottom: 8px;
    
}
/* table styling */
tr{
    border: 1px solid black;
}
table{table-layout: fixed;
    width: 400px;
    width: 100%;
    border-collapse: collapse ;
}
th,caption{
    text-align: left;
}
table th td{
    border: 1px solid #000;
    padding: 5px 10px;
}
