nav>ul>li {
    display: inline-block;
    margin-right: 15px;
}
nav li>a{
    text-decoration: none;
    
}
footer{
    text-align: center;
}
/* form style */
label {
    display: block;
    margin-bottom: 8px;
    padding: 5px;
    margin-bottom: 20px;
}
